<div class="layui-main ">
    <p style="text-align: center;font-size:22px;margin-bottom: 10px;">重要申明</p>
    <p style="font-size:16px;"><strong>为规范后端递交的流程，更安全和高效的服务行业，特对后端托管服务做以下几点申明通知</strong></p>
   <p>1.房猫工作站工作时间为上午9：00到下午17:00，周六日休息，工作时间内递交的权证业务最迟12小时内与门店对接，休息时间不受理业务，如遇特殊情况请及时于房猫权证部经理联系，电话：<strong>13405224229</strong>。</p>
   <p>2.为保证服务质量和顺畅沟通，房猫只接受系统递交的后端委托服务，房猫有权拒绝接收口头委托，电话委托，微信委托等服务提交。</p>
   <p>3.为保证服务的统一完整，保证服务安全，房猫仅接收完整的委托服务单，房猫有权拒收已操作一半，或中途中止的单项服务。</p>
   <p>4.对于框架合作门店的免费委托服务，房猫提供标准窗口周期的服务，所有服务办理的速度和审核标准都按主管部门要求和周期进行。</p>
   <p>5.在全程托管服务期间，因政策调整所造成的提交失败，服务中止，以及由此可能造成的买卖中止，房猫不承担责任。请合作门店向客户进行解释和补充。</p>
   <p>6.为保证门店客户资源，房猫仅提供后端权证委托服务，不对门店客户进行政策教育，营销支持等与客户权证服务诉求无关的内容和服务。</p>
    <p>7.房猫权证后台需要提交客户的真实资料，请按需求完整提交，如因资料缺失，或者资料虚假造成的权证服务中止和失败。房猫不承担责任。因合作门店存在主观故意的隐瞒所造成的多方损失，都由门店自行承担。</p>
    <p> 8.网签服务请门店附带买卖双方真实签名的网签声明书说明书，附网签声明书检核单并盖章。如无盖章的网签声明书核验单，房猫有权拒服务。</p>
    为更好的提供后端服务，保证行业健康发展，房猫呼吁行业规范经营，避免因为客诉纠纷造成的损失。

</div>
<style>
   .layui-main p{ margin-bottom:10px;}
</style>
<script>

</script>