<!DOCTYPE html>

<link href="/statics/css/yy_style.css" rel="stylesheet" type="text/css">
<style>
    .editor-box{margin-top:20px;width:930px;}

</style>
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">创建招聘信息</strong> /
            <small>Add JOB</small>
        </div>
    </div>

    <hr/>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

        </div>
        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <form id="save_form" class="am-form am-form-horizontal" method="post" action="{{site_url url='Jobs/save_job'}}">
                <input type="hidden" name="job_id" value="{{$detail.id|default:''}}">
                <label class="am-u-sm-2 am-form-label">招聘标题</label>
                <div class="am-form-group">
                    <div class="am-u-sm-10">
                        <input required type="text" id="title" name="title" value="{{$detail.title|default:''}}">
                    </div>
                </div>
                <div class="am-form-group">
                <div class="editor-box">
                    <input type="hidden" name="content" id="content" />
                    <script id="editor" type="text/plain" style="width: 100%;height:500px;">{{$detail.content|default:''}}</script>
                </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-2 am-form-label">状态</label>
                    <div class="am-u-sm-10">
                        <select name="flag">
                            <option value="1"  {{if isset($detail)}}{{if $detail.flag == 1}} selected {{/if}}{{/if}}>开启</option>
                            <option value="-1"  {{if isset($detail)}}{{if $detail.flag == -1}} selected {{/if}}{{/if}}>关闭</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" id="save_btn" class="am-btn am-btn-danger" id="doc-confirm-toggle">提交</button>
                        <a class="am-btn am-btn-default" href="{{site_url url='Jobs/list_job'}}">返回</a>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>


<!--<script type="text/javascript" src="/statics/js/jquery.min.js"></script>-->
<script type="text/javascript" src="/statics/js/layer/layer.js"></script>
<!--可视化编辑引用js-->
<script type="text/javascript" charset="utf-8" src="/statics/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/statics/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/statics/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="/statics/js/ajaxfileupload.js"></script>
<script>
    window.onload = function() {
        init();  //初始化

    }
    var ue =UE.getEditor('editor',{toolbars: [[
        'fullscreen', 'source', '|', 'undo', 'redo', '|',
        'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
        'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
        'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
        'directionalityltr', 'directionalityrtl', 'indent', '|',
        'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
        'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
        'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', 'insertcode', 'webapp', 'pagebreak', 'template', 'background', '|',
        'horizontal', 'date', 'time', 'spechars', 'snapscreen', 'wordimage', '|',
        'inserttable', 'deletetable', 'insertparagraphbeforetable', 'insertrow', 'deleterow', 'insertcol', 'deletecol', 'mergecells', 'mergeright', 'mergedown', 'splittocells', 'splittorows', 'splittocols', 'charts', '|',
        'print', 'preview', 'searchreplace', 'drafts', 'help'
    ]]})
    //初始化
    function init() {
        //初始化图片上传

    }


    $("#save_btn").click(function(){
        var content = $("#content").val(ue.getContent());
        if(content == "" ) {
            layer.msg('请输入内容', {icon: 2});
            return;
        }
        $("#save_form").submit();
    })

</script>
