
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线考试</title>
    <meta name="keywords" content="在线考试" />
    <meta name="description" content="在线考试" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <a href="/" class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></a>
            <div class="nav-left">
                <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                    <li class="on">
                        <a href="/examination/self_examination"><em class="onlineexam"></em>在线考试</a>
                        <span class="document-nav-list">
                            <a href="/examination/self_examination">自主测评</a><br />
                            <a href="/examination/unit_examination">统一考试</a><br />
                            <a href="/examination/examination_score" class="on">我的成绩</a>
                        </span>
                    </li>
                    {{if $login_permission_id <= 4 || in_array(5,$login_position_id_array)}}
                    <li><a href="/examination/enter_examination"><em class="onlineexam"></em>题库</a></li>
                    {{if $login_permission_id <= 4}}
                    <li><a href="/examination/mark_list"><em class="onlinemark"></em>在线阅卷</a></li>
                    {{/if}}
                    {{/if}}
                </ul>
            </div>
        </div>
        <div class="wrap-right">
             <div class="search-wrap">
               
            </div>
              <div class="schedule-wrap upload-document-wrap">
                <p class="tab-tit">我的成绩</p>
                <div class="examination-main clearfix">
                    <table cellspadding="0" border="0" class="examination-list-table">
                        <tr>
                            <th width="350">考试名称</th>
                            <th width="230">时间</th>
                            <th width="178">成绩</th>
                            <th>操作</th>
                        </tr>
                        {{foreach from=$score_list.res_list item=item}}
                        <tr>
                            <td>{{$item.title}}</td>
                            <td>{{$item.created}}</td>
                            <td><span class="score">{{$item.score|default:0}}/{{$item.allscore|default:100}}</span></td>
                            <td><a href="/examination/submit_examination/{{$item.id}}">查看</a></td>
                        </tr>
                        {{/foreach}}
                    </table>
                    <div class="pages">
                        {{$pager}}
                    </div>

            </div>
        </div>
    </div>
</div>
</div>
    {{include file='footer.html'}}
</body>
</html> 