/* Write your styles */
/*head*/
.app-head{margin-bottom: 2rem; height: 5rem;  background: #f5f5f5;}
.app-head .logo{ float: left; width: 120px; height: 35px; background: url(../../assets/i/logo.png) no-repeat; background-size:100%;  margin: 1.5rem 0 0 2rem;}
.user-position{margin-right:1rem;padding-top:2rem; float: right;}
.am-accordion-default{box-shadow:none;}

.wel-txt{font-size: 1.6rem; color: #333; text-align: right; display:inline-block;}


.app-tit{margin:0 0.5rem;padding-bottom: 0.5rem; border-bottom: 1px solid #ddd;overflow: hidden;zoom:1;}
.app-tit span{ color: #ff7c39; display: inline-block; line-height: 2rem; }
.app-tit .mark{padding-left:1rem;float: left;border-left:3px solid #ddd;}
.app-tit .smark{padding-right:1rem;float: right; color: #333; font-size: 14px;}
.am-accordion-default{margin:0.5rem;}
.am-accordion-default .am-accordion-title{padding:0.5rem 0rem;}
.am-accordion-default .am-accordion-title{font-size: 1.6rem; overflow: hidden; zoom:1; width: 100%;}
.am-accordion-default .am-accordion-title span{  margin:0 0.2rem;}
.am-accordion-default .am-accordion-title .fl{float: left; width: 70%; }
.am-accordion-default .am-accordion-title .fr{float: right; width: 30%;}
.am-accordion-default .am-accordion-title i{margin-right:0.2rem;}
.am-accordion-default .am-accordion-title .am-icon-check-circle{color: #ff7c39;}
.am-accordion-default .am-accordion-title .am-icon-exclamation-circle{color: #ff6583;}
.am-accordion-default .am-accordion-title .am-icon-exclamation1-circle{color: #3af5ed;}
.am-accordion-default .am-accordion-title .am-icon-exclamation2-circle{color: #f00;}
.overtime{color: #f00;}
.am-accordion-default .am-accordion-title .am-icon-check1-circle{color: #b79afd;}
.am-accordion-default .am-accordion-title .am-icon-check2-circle{color: #2dd278;}
.am-accordion-default .am-accordion-title .am-icon-angle-down{color: #3bb4f2;}

.am-accordion-default .am-active .am-accordion-title,.am-accordion-default .am-accordion-title:hover{ color: #161716;}
.am-accordion-content{overflow: hidden;zoom:1;}
.am-accordion-content p{margin:0;padding:0; line-height:24px;font-size: 1.6rem; color: #161716;}

.con-state-div { width: 287px;margin:0.5rem auto; }
.con-cus-state{ width: 287px; height: 24px; display:block;background: url(../../assets/i/state.png) no-repeat; background-size: 100%;}
.con-cus-ybb{ background-position:0 -25px; }
.con-cus-jdq1{background-position:0 -50px;}
.con-cus-jdq2{background-position:0 -100px;}
.con-cus-ydk{background-position:0 -75px;}
.con-cus-yqy{background-position:0 -125px;}
.con-state-div .p-state{ font-size: 1.2rem;}
.con-state-div .p-state span{display: inline-block; margin-right: 20px;}
.con-state-div .p-state span:last-child{margin-right: 0;}
.am-accordion-content .am-btn-secondary{ border-radius: 3px; float:right;}
.am-accordion-content .am-btn-secondary .am-icon-cog,.am-accordion-content .am-btn-secondary .am-icon-check-circle,.am-accordion-content .am-btn-secondary .am-icon-slideshare,.am-accordion-content .am-btn-secondary .am-icon-refresh{margin-right: 0.5rem;}
.am-modal-actions .am-list i{margin-right: 0.5rem;}
.amz-toolbar{ width: 48px; position: fixed; right: 1rem; bottom: 5rem; z-index: 99;}
.amz-toolbar .am-icon-btn{float: left; margin-bottom: 1rem; background-color: #000;  opacity: 0.6; color: #fff;}
.amz-toolbar .am-menu-toggle{ display: block;}
.amz-toolbar .am-menu-offcanvas1 .am-menu-toggle{ position: static; right: 0; top:0; width: 48px; height: 48px;}

.am-btn-call{margin-left: 10px; background: #70c76c; padding: .2rem .6rem; color: #fff; border-radius: 3px; display: inline-block; font-size:2rem; }
.am-accordion-content .am-front-icon{margin-right: .5rem; color: rgba(0,0,0,.6);}
.s-user-name{width: 200px; float: left;}
/*搜索*/

#my-actions-search{ background: #333;  }
#my-actions-search fieldset{margin-bottom: 0;padding: 0;}
#my-actions-search fieldset select{}
#my-actions-search fieldset .am-form-group{width: 100%; overflow: hidden; zoom:1;}
#my-actions-search .am-modal-actions-group .am-list>li{padding: 3rem; border:none;}
#my-actions-search .am-icon-search-1{ height: auto; width:100%;background: #ff7c39; color: #fff; border-radius: 5px; border-radius: 0;}

/*我要报备表单样式*/
.wybb{margin-top: 1rem;}
.wybb .am-form select{line-height: 1.6;}
.wybb .am-form label,.wybb .am-form .am-form-tit{margin-bottom: 10px; display: block;}
.wybb .am-btn{padding:1rem; width: 150px; margin:0 auto; display: block; border-radius: 3px;}

.am-pagination-select .am-pagination-select select,.am-pagination-select>li>a{ color: #3bb4f2;}
.am-pagination-select>li>a.off{color: #ccc;}

/*登录*/
#login{ background: url(../i/login_bg_02.jpg) no-repeat;
    background-size: cover; width: 100%; position: relative;}
.login-logo{ display: block; width:156px; height: 46px; background: url(../i/login_logo.png) no-repeat;background-size: cover; margin:0 auto;margin: 8rem auto 70px;}

/*.am-form{margin:0 30px;}*/
.login-bd{ position:relative; margin:0 auto 50px; width: 90%; background: url(../i/login_input_bg.png) no-repeat;background-size:100% 100%; }
#email,#password{padding:1.5rem 0.5rem;border:none; font-size: 2rem; color: #000; width:85%; background: none; color: #fff; }
.login-div .am-form .am-btn{width: 80%; border-radius: 10px; height: 45px; font-size: 2rem;}
/*
.input-div input:-webkit-autofill,.input-div input:-webkit-autofill{ background-color:rgb(255,255,255)!important;}*/


.am-form .am-btn{ width: 100%;  display: block;margin:0 auto; background: #e15616; color: #fff; font-size: 18px; }
.input-div{padding:0 10px;overflow: hidden;zoom:1;}
.input-div .am-input-icon{margin-top: 0.5rem;width: 10%; float: left;font-size: 3rem; color: #fff;}

.copyright{ text-align: center; position:absolute; bottom: 3rem; color: #fff; font-size: 2rem; width: 100%;}

/*user-index*/
.admin-content-list{padding: 0;}
.admin-content-list li{margin:0 auto 20px;padding:0 10px 20px;width:300px;border-bottom: 1px solid #ccc;list-style:none; overflow:hidden;zoom:1; font-size: 1.72rem;}
.admin-content-list li:last-child{border:none;}
.am-txt-fl{ width: 100px; float: left; text-align: center;}
.am-txt-fr{margin:10px 0 20px 10px;padding-left:20px;border-left:1px solid #666; width: 160px; float: left; color: #666;}
.am-txt-fr em{padding:0 5px;  font-style: normal;}
.am-txt-fr .green{}
/*活跃度查询*/
.am-tab-nav {margin:1rem 1rem;display: box;display:-webkit-box;display:-moz-box;padding:0em; overflow: hidden;zoom:1; width: 94%;}
.am-tab-nav li{padding:0.5rem 0;list-style: none; box-flex:1;-webkit-box-flex:1; -moz-box-flex:1; text-align: center;  }
.am-tab-nav li a{color: #3bb4f2;}
.am-tab-nav .am-active{ background: #3bb4f2;}
.am-tab-nav .am-active a{color: #fff;}

.am-ul-rank{padding:0rem;margin: 0 1rem;}
.am-ul-rank li{margin-bottom:1rem;padding:0.5rem 1rem; background: #eee;list-style: none; font-size: 1.2rem;}
.am-ul-rank li span{display: block;}
.am-ul-rank li span i{padding-right:0.2rem;}
.am-ul-rank li .r-house{margin-bottom: 0.3rem;font-size: 1.4rem;}
.am-ul-rank li .orange{ color: #ff7c39;}
.am-icon-bookmark{ position:relative;font-size: 3rem; color: #f46262; margin-top: -25px; margin-right: 3px;}
.am-icon-bookmark em{ font-size: 1.4rem; position: absolute;top:0;left: -1px; line-height: 40px; color: #fff; display:inline-block; width: 24px; text-align: center;}

/*搜索-日历*/

.am-g .am-u-sm-6{ color: #fff; margin:0rem;padding: 0rem;}
.am-g .am-u-sm-6 .am-form-field{width:90%;}
.safe-center{margin-top: 2rem;}
.safe-center .am-form-group{margin-bottom: 2.5rem;}


.am-bfzqt .am-checkbox .am-icon-unchecked,.am-bfzqt .am-checkbox .am-icon-checked{left:4.5rem;}

.am-nav-header { color: #777;background: #404040;text-shadow: 0 1px 0 rgba(0,0,0,.5); font-weight: 400; font-size: 75%; margin-top: 0; margin-bottom: 0;}

.am-accordion-item .s-user-name{white-space: nowrap; width:100%; overflow:hidden; -o-text-overflow: ellipsis;text-overflow:ellipsis;}

.am-btn-cancel{margin-right:10px; background: #c00;border-color: #c00;padding:.5em;}

.input_start_time{
    width: 49%; float: left;
}
.input_end_time{
    width: 49%;float: right;
}
#uploadImgcontainer li{margin-bottom: 10px;position: relative}
.delete-this{width:30px; height: 30px; background: #000;filter:alpha(opacity=40);opacity: 0.4; display: block;top:0; position: absolute;z-index: 99}
.delete-this i{padding:0 5px;width:20px; height:20px; background: url(/res/images/yy_logo_in.png) no-repeat -123px 2px; display: block; float: right;margin-right:10px; cursor: pointer;}