<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
<a href="javascript:void(0)" class="am-icon-btn am-menu-toggle am-icon-bars"></a>
<div class="am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="amz-sidebar">
      <ul class="am-menu-nav am-avg-sm-1">

          <li class="am-nav-header">金融服务</li>
          <li class="">
              <a href="{{site_url url='finance_wx_borrower/index'}}" class="">首页</a>
          </li>
          <li class="">
            <a href="{{site_url url='finance_wx_borrower/list_finance'}}" class="">我的金融</a>
          </li>
          <li class="am-nav-header">账号操作</li>
         <!-- <li class="">
            <a href="{{site_url url='supervisors/change_pwd'}}" class="">修改密码</a>
          </li>-->
          <li class="">
            <a href="{{site_url url='finance_wx_borrower/logout'}}" class="">切换账号</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>