
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>房猫房地产管理系统</title>
    <meta name="keywords" content="房猫-金融-贷款申请" />
    <meta name="description" content="房猫-金融-贷款申请" />
    <link href="/static/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="doc">
    {{include file='header.html'}}
    <div class="wraper clearfix">
        <div class="wrap-left">
            <span class="logo"><img src="/static/images/logo.jpg" alt="" width="130" height="35"></span>
            <div class="nav-left">
                 <ul class="nav-left-ul">
                    <li><a href="/"><em class="home"></em>回到首页</a></li>
                     {{if $permission_id > 3 && !in_array(12,$position_id)}}
                     <li class="on"><a href="/finance/finance_list"><em class="finance"></em>我的金融</a></li>
                     {{/if}}
                     {{if $permission_id < 5 || in_array(12,$position_id)}}
                     <li><a href="/finance/finance_list_other"><em class="finance"></em>金融服务</a></li>
                     {{/if}}
                </ul>
            </div>
        </div>
        <div class="wrap-right">
            <div class="search-wrap">
                <div class="t-tit">金融服务申请 Financial services applications</div>
            </div>
             <div class="div-th"><em></em>基本信息</div>
             <div class="div-bd">
                <form>
                <table cellpadding="0" cellsapcing="0" class="add-data-table add-data-table1">
                    <tr>
                        <th colspan="3" align="center">
                            申请人信息
                        </th>
                    </tr>
                    <tr>
                        <td width="30%">
                            <dl>
                                <dt class="">姓  名：</dt>
                                <dd>{{$data.borrower_name|default:''}}</dd>
                            </dl>
                        </td>
                        <td width="30%"><dl><dt class="">年  龄：</dt>
                            <dd>{{$data.borrower_age|default:''}}</dd></dl></td>
                        <td><dl><dt class="">性  别：</dt>
                            <dd>{{if $data.borrower_sex|default:0 == 1 }}男{{/if}}{{if $data.borrower_sex|default:0 == 2 }}女{{/if}}</dd></dl></td>
                    </tr>
                    <tr>
                        <td><dl><dt class="">籍      贯:</dt><dd>{{$data.borrower_native|default:''}}</dd></dl></td>
                        <td>
                            <dl>
                                <dt>学      历：</dt>
                                <dd>{{$data.borrower_qualifications|default:''}}</dd></dl></dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>婚      姻：</dt>
                                <dd>{{if $data.borrower_marriage|default:0 == 1 }}已婚{{/if}}{{if $data.borrower_marriage|default:0 == 2 }}未婚{{/if}}</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <dl>
                                <dt class="wid120"> 工作单位地址：</dt>
                                <dd>{{$data.borrower_workADD|default:''}}</dd>
                            </dl>
                        </td> 
                    </tr>
                    <tr>
                        <td><dl><dt class="">职 位：</dt><dd>{{$data.borrower_position|default:''}}</dd></dl></td>
                        <td colspan="2">
                            <dl>
                                <dt>月收入：</dt>
                                <dd>{{$data.borrower_income|default:''}}元/月</dd></dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <dl>
                                <dt class="">社保年限：</dt>
                                <dd>{{$data.borrower_SSY|default:''}}</dd>
                            </dl>
                        </td>
                         <td colspan="2">
                            <dl>
                                <dt class="wid120">身份证号码：</dt>
                                <dd>{{$data.borrower_code|default:''}}</dd>
                            </dl>
                        </td>
                    </tr>
                     <tr>
                       <td colspan="3">
                           <dl>
                                <dt>联系方式：</dt>
                                <dd>{{$data.borrower_phone|default:''}}</dd>
                            </dl>                            
                        </td>
                    </tr>
                    {{if $data.borrower_marriage == 1}}
                    <tr>
                        <th colspan="3" align="center">
                            配偶信息
                        </th>
                    </tr>
                    <tr>
                        <td width="30%">
                            <dl>
                                <dt class="">姓  名：</dt>
                                <dd>{{$data.spouse_name|default:''}}</dd>
                            </dl>
                        </td>
                        <td width="30%"><dl><dt class="">年  龄：</dt>
                            <dd>{{$data.spouse_age|default:''}}</dd></dl></td>
                        <td><dl><dt class="">性  别：</dt>
                            <dd>{{if $data.spouse_sex|default:0 == 1 }}男{{/if}}{{if $data.spouse_sex|default:0 == 2 }}女{{/if}}</dd></dl></td>
                    </tr>
                    <tr>
                        <td><dl><dt class="">籍      贯:</dt><dd>{{$data.spouse_native|default:''}}</dd></dl></td>
                        <td>
                            <dl>
                                <dt>学      历：</dt>
                                <dd>{{$data.spouse_qualifications|default:''}}</dd></dl></dd>
                            </dl>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <dl>
                                <dt class="wid120"> 工作单位地址：</dt>
                                <dd>{{$data.spouse_workADD|default:''}}</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td><dl><dt class="">职 位：</dt><dd>{{$data.spouse_position|default:''}}</dd></dl></td>
                        <td colspan="2">
                            <dl>
                                <dt>月收入：</dt>
                                <dd>{{if $data.spouse_income}}{{$data.spouse_income|default:''}}元/月{{/if}}</dd></dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <dl>
                                <dt class="">社保年限：</dt>
                                <dd>{{$data.spouse_SSY|default:''}}</dd>
                            </dl>
                        </td>
                        <td colspan="2">
                            <dl>
                                <dt class="wid120">身份证号码：</dt>
                                <dd>{{$data.spouse_code|default:''}}</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <dl>
                                <dt>联系方式：</dt>
                                <dd>{{$data.spouse_phone|default:''}}</dd>
                            </dl>
                        </td>
                    </tr>
                    {{/if}}

                </table>


                </div>
                <div class="div-th" style="background-color:#4d8df8;"><em></em>不动产信息</div>
             <div class="div-bd" style="border-color:#4d8df8;">
              
                <table cellpadding="0" cellsapcing="0" class="add-data-table add-data-table1">
                     <tr>
                        <td colspan="3">
                            <dl>
                                <dt>房 产：</dt>
                                <dd>{{if $data.borrower_hasP|default:0 == 1 }}有房产{{/if}}{{if $data.borrower_hasP|default:0 == 2 }}无房产{{/if}}</dd>
                            </dl>
                        </td> 
                    </tr>
                    {{if $data.borrower_hasP|default:0 == 1 }}
                    <tr>
                        <td width="30%">
                            <dl>
                                <dt class="">社区名：</dt>
                                <dd>{{$data.property_community|default:''}}</dd>
                            </dl>
                        </td>
                        <td width="30%"><dl><dt class="">楼栋号：</dt>
                            <dd>{{$data.property_num|default:''}}</dd></dl></td>
                        <td><dl><dt class="">物业类型：</dt>
                            <dd>{{$data.property_estates|default:''}}</dd></dl></td>
                    </tr>
                    <tr>
                        <td><dl><dt class="">面 积:</dt><dd>{{$data.property_area|default:''}}平方米</dd></dl></td>
                        <td>
                            <dl>
                                <dt>购入总价：</dt>
                                <dd>{{$data.property_price|default:''}}万</dd></dl></dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>权利人：</dt>
                                <dd>{{$data.property_owner|default:''}}</dd></dl></dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td><dl><dt class="">首付额度:</dt><dd>{{$data.property_SF|default:''}}万</dd></dl></td>
                        <td>
                            <dl>
                                <dt>月供额度：</dt>
                                <dd>{{$data.property_YG|default:0}}元</dd></dl></dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>现余按揭：</dt>
                                <dd>{{$data.property_AJ|default:0}}万</dd></dl></dd>
                            </dl>
                        </td>
                    </tr>
                    {{/if}}

                   
                </table>
                </div>
                <p style="padding:0 20px 30px;">郑重提醒：<br />
       客户承诺提交资料真实有效，平台根据客户提交资料给出相匹配之金融产品。并给出贷款额度。如因客户提供资料为伪造，或因后期资料不全导致无法顺利办理金融业务的。平台不承担客户任何经济及精神损失。</p>
              <p class="p-btns">
                  <a href="/finance/view_finance_2/{{$data.id}}" class="sub-btn" style="background-color:#35aa47">下一页</a>
              </p>  
              </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".ing-error").mouseover(function(){
        $(this).children(".error-explain").toggle();
    }).mouseout(function(){ $(this).children(".error-explain").hide();});
    $("#btn_search").click(function() {
        $('#formSearchActivity').submit();
    });
</script>
</body>
</html>