<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>房猫宅急递</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/assets/js/amazeui.js"></script>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
    .yy_p_{
      margin: 0px;
    }
  </style>
  <script>

</script>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h2>房猫宅急递</h2>
    <h4>金融服务</h4>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>请先扫码关注后绑定</h3>
    <div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">


          <div class="am-form-group am-form-icon">
            <ul id="" style="width: 95%;list-style: none">

              <li style="list-style: none">
                <img src="{{$img_url}}" alert="" style="width: 200px; height: 200px" />
              </li>
            </ul>
          </div>

    </div>

    <hr>
    <p class="am-serif yy_p_">@苏州曼纳吉信息科技有限公司所有</p>
    <p class="am-serif yy_p_">地址：昆山市玉山镇萧林中路2191号</p>
    <p class="am-serif yy_p_">电话：0512-36699066</p>
    <hr>
  </div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

</script>
</body>
</html>