<script src="/statics/js/highcharts.js"></script>
<script src="/statics/js/exporting.js"></script>
<script src="/statics/js/highcharts-more.js"></script>
<style>
    .table1{
        width: 100%; height: 80px; border-collapse:collapse;color: #bfbfbf;
    }
    .table1 tr{
        font-size: 20px;text-align: center;color: #999999;
    }
    .td1{
        border-bottom:1px solid #e5e5e5; height: 80px;
    }
    .td1 .table1_admin_title{
        font-size: 16px;
    }
  .link_user_shop{
    width: 100%;height: 300px;border:1px solid #ccc;margin-top: 5px;
  }
  .link_user_shop_title{
    width: 100%;text-align: center;height: 50px;line-height: 50px;
  }
</style>
<div class="am-cf am-padding">
  <div class="am-fl am-cf" style="">
    <strong class="am-text-primary am-text-lg">数据分析</strong>
  </div>
</div>

<div style="padding-bottom: 100px;">




</div><br><br>


