<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>淼溪信息科技后台管理系统</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
  <link rel="stylesheet" href="/statics/amaze/css/amazeui.min.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
  <script>
if(top.location != this.location){
    top.location.replace('/admin.php/login/index');
}
</script>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>淼溪信息科技后台管理系统</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>登录</h3>

    <form method="post" class="am-form" action="{{site_url url='login/check_login'}}">
      <label>用户名:</label>
      <input type="text" name="username" value="">
      <br>
      <label>密码:</label>
      <input type="password" name="password" value="">
      <br>
      {{if $flag == '-1'}}
      <a class="am-badge am-badge-danger am-radius">用户名密码错误或者账号已被停用！</a>
      {{/if}}
      {{if $flag == '-2'}}
      <a class="am-badge am-badge-danger am-radius">您所在公司账号已被停用，您无法登陆！</a>
      {{/if}}
      <br />
      <div class="am-cf">
        <input type="submit"  value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="submit" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
      
    </form>
    <hr>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
</html>